<div class="fixed-top bg-info header">
    Header
  </div>
  
  
  <div class="contaner" style="margin-top:52px">
    <div class="row">
        <div class="col-sm-3"></div>
        
        <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-12 text-center center-option-4 rounded bgimg" style="height: 300px; margin-top:5px">
                  <blockquote class="blockquote text-white " >
                      <p class="mb-0 pt-2">"Lorem ipsum dolor sit amet, consectetur adipiscing</p>
                      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
              </div>
  
  
                <div class="col-sm-12 bg-primary text-center rounded" style="height: 300px; line-height: 300px; margin-top:5px">
                    <blockquote class="border-left border-warning blockquote  text-white center-option-1" >
                        <p class="mb-0 pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer class="blockquote-footer text-warning">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
  
                <div class="col-sm-12 bg-secondary text-center" style="height: 300px; line-height: 300px; margin-top:5px">
                      <blockquote class=" blockquote text-white center-option-1" >
                              <p class="mb-0 pt-2">Lorem ipsum dolor sit amet, conse.</p>
                              <footer class="blockquote-footer text-warning">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                </div>
  
                <div class="col-sm-12 bg-info text-center" style="min-height: 300px; margin-top:5px">
                      <blockquote class="blockquote text-white center-option-2" >
                              <p class="mb-0 pt-2">Lorem ipsum dolor sit amet, conse.</p>
                              <footer class="blockquote-footer text-warning">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                </div>
  
                <div class="col-sm-12 bg-success text-center" style="min-height: 300px; margin-top:5px; display: table;">
                      <blockquote class="blockquote text-white center-option-3" >
                              <p class="mb-0 pt-2">Lorem ipsum dolor sit amet, conse.</p>
                              <footer class="blockquote-footer text-warning">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                </div>
  
                <div class="col-sm-12 bg-warning  center-option-4" style="min-height: 300px; margin-top:5px">
                      <blockquote class="border-left border-success  blockquote text-white text-center" style="width:100%" >
                              <p class="mb-0 pt-2">4 Lorem ipsum dolor sit amet, conse.</p>
                              <footer class="blockquote-footer text-info">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                </div>
  
                <div class="col-sm-12 bg-dark" style="min-height: 300px; margin-top:5px">
                    <div class="center-option-4" style="height: 100%;">
                          <blockquote class="blockquote text-white " >
                                  <p class="mb-0 pt-2">Lorem ipsum dolor sit amet, conse.</p>
                                  <footer class="blockquote-footer text-info">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                          </blockquote>
                    </div>
                </div>
  
                <div class="col-sm-12 bg-warning  center-option-4" style="min-height: 300px; margin-top:5px">
                      <blockquote class="blockquote text-white " >
                              <p class="mb-0 pt-2">Lorem ipsum dolor sit amet, conse.</p>
                              <footer class="blockquote-footer text-info">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                      </blockquote>
                </div>
            </div>
        </div>
  
        <div class="col-sm-3"></div>
    </div>
  </div>
  
  
  <div class="fixed-bottom bg-secondary header">
    Footer
  </div>