<!--<div class="fixed-top bg-primary header text-white">
  HEADER
</div>-->

<div class="container" style="margin-top: 50px">
  <div class="row">
      <div class="col-sm-3"></div>

      <div class="col-sm-6">

        <div class="row {{user.bg}} rounded" *ngFor="let user of userList">
            <div class="col-sm-12 cardflex text-white">
                {{id}} - {{title}}
            </div>
        </div>

      </div>

      <div class="col-sm-3"></div>
  </div>
</div>


<!----
<div class="fixed-bottom bg-info header text-white">
  FOOTER
</div>
-->