<div class="fixed-top bg-info header">
  Header
</div>


<div class="contaner" style="margin-top:52px">
  <div class="row">
      <div class="col-sm-3"></div>
      
      <div class="col-sm-6">
          <div class="row">
              <div class="col-sm-12 bg-primary rounded" style="min-height: 100px;">
                  <blockquote class="blockquote text-center text-white mt-2" style="border-left: 4px solid goldenrod">
                      <p class="mb-0 pt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      <footer class="blockquote-footer text-warning">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
              </div>

              <div class="col-sm-12 bg-secondary" style="min-height: 150px; margin-top:5px">
              </div>

              <div class="col-sm-12 bg-info" style="min-height: 150px; margin-top:5px">
              </div>

              <div class="col-sm-12 bg-success" style="min-height: 150px; margin-top:5px">
              </div>

              <div class="col-sm-12 bg-warning" style="min-height: 150px; margin-top:5px">
              </div>

              <div class="col-sm-12 bg-dark" style="min-height: 150px; margin-top:5px">
              </div>
          </div>
      </div>

      <div class="col-sm-3"></div>
  </div>
</div>


<div class="fixed-bottom bg-secondary header">
  Footer
</div>