div.header{
    min-height: 50px;
    line-height: 40px;
    color: white;
    padding-left: 10px;
}

.bgimg {
    background-image: url("assets/img1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div.fcontainer{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    height: 50vh;
}

div.card{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 150px;;
}

div.fchilds{
    height: 50px;
}