<div class="fixed-top header bg-info">
  Header
</div>

<div class="fcontainer " style="margin-top : 52px; height: 92vh; overflow-y: scroll">
  <div class="border border-warning bg-light" style="width:20%" ></div>
  
  <div class="border border-warning" style="width: 60%;">
      <div class="bg-primary bgimg  card text-info" >
          “If you fell down yesterday, stand up today.”
      </div>

      <div class="bg-info card text-white" >
          <div class="flex">
              “If you fell down yesterday, stand up today.”
          </div>
          <div class="flex">
              “If you fell down yesterday, stand up today.”
          </div>
      </div>

      <div class="bg-warning card text-white" >
          “If you fell down yesterday, stand up today.”
      </div>

      <div class="bg-secondary card text-white" >
          “If you fell down yesterday, stand up today.”
      </div>

      <div class="bg-danger card text-white" >
          “If you fell down yesterday, stand up today.”
      </div>

      <div class="bg-warning card text-white" >
          “If you fell down yesterday, stand up today.”
      </div>

      <div class="bg-secondary card text-white" >
          “If you fell down yesterday, stand up today.”
      </div>

      <div class="bg-danger card text-white" >
          “If you fell down yesterday, stand up today.”
      </div>
  </div>
  
  <div class="border border-warning bg-light" style="width: 20%"></div>
</div>

<div class="fixed-bottom header bg-secondary">
    Footer
</div>